#rtRotateBlock {
    float: left;
}

.rt-hide {
    display: none;
}

@-moz-keyframes rt-rotate360 {
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rt-rotate360 {
  to { transform: rotate(360deg); }
}

@keyframes rt-rotate360 {
  to { transform: rotate(360deg); }
}

.rt-rotate {
    -moz-animation: 0.5s rt-rotate360 infinite linear;
    -webkit-animation: 0.5s rt-rotate360 infinite linear;
    animation: 0.5s rt-rotate360 infinite linear;
}
